@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}

body {
  @apply bg-[#0A0A0B] text-slate-300 font-mono;
}

.glass-panel {
  @apply bg-slate-900/40 backdrop-blur-xl border border-slate-800/50 shadow-2xl;
}

.tech-border {
  @apply border border-emerald-500/20;
}

.tech-glow {
  @apply shadow-[0_0_15px_rgba(16,185,129,0.1)];
}
